<h2>
  <% if ! @user.name.blank? %> <%= @user.name %>
  <% else %>&nbsp;
  <% end %>
</h2>

<%= render 'shared/flash_messages' %>
<%= @user.email %><% if ! @user.name.blank? %>, <%= @user.name %><% end %>
