<h2>about us</h2>


<h3>who we are</h3>

<p>&lt;ominous latin noun&gt; is a late-night 10-man Alliance raiding guild on Uldaman-US.</p>


<h3>credo</h3>

<p>We aren't the kind of guild to have a manifesto because, 
frankly, we make most of it up as we go along. We like 
killing bosses, we like learning new fights as well as 
perfecting the old, we squee when purple pixels drop and 
we hate lag boss &mdash; just like everyone else. We take raiding 
seriously enough to read strats, do theorycrafting, min-max specs, 
maintain different gearsets even for the same role, and put 
all our concentration into a kill; but we understand that 
real life takes absolute priority, that fun is more important 
than gear, and that, broadly speaking, Shit Happens.</p>


<h3>are you a serious guild?</h3>

<p>Balls no.</p>


<h3>schedule</h3>

<p>We raid Tuesday and Thursday (and sometimes Monday) nights, 
starting with invites going out at midnight server time (Eastern), 
and first pull happening no later than 12:30 (though in practice 
we're usually underway by that point &mdash; with a good chance of having 
killed a boss already). We usually call it a night by 3am unless 
we are on an exceptional roll and everyone wants to keep going.</p>


<h3>recruiting</h3>

<p>We're currently only looking for DPS. You don't need to be 
a highly experienced raider &mdash; a number of us raided little or 
not at all pre-Wrath &mdash; but you should be, before all else, 
willing to learn and take initiative to improve yourself as a player.</p>

<p>Another important factor is maturity. 
While it would be a lie to say our vent chatter upholds 
the highest standard of sophisticated conversation, we 
expect a certain behaviour which one might call "being an adult", 
if "adult" includes laughing at fart jokes. Being comfortable 
with people of different races, genders, religions, orientations, 
and political persuasion is also pretty much a given.</p>

<p>For more information, always feel free to whisper 
Puya, Ultimohombre or Fyrbard.</p>


<h3>current progress</h3>

<p>This section is likely to be not quite up-to-the-minute, 
so check the sidebar on the right for our actual progress.
As of early March, we haven't gotten rolling on the Cataclysm raids 
because several of us have been dealing with consuming real life issues. 
(See the above credo.) We foresee that stuff ending soon,
and we hope to resume our regular raiding schedule soon.
We're not worried; we got a late start on Wrath raids but 
we caught up by the time ToC rolled out.</p>

