<h2>contact</h2>
<%= render 'shared/flash_messages' %>

<h3>ONLINE</h3>
<ul class="links"> 
  <li><a href="mailto:agnoster@gmail.com">email the webmaster</a> 
    (Fyrbard)</li> 
  <li><a href="http://us.battle.net/wow/en/guild/uldaman/ominous%20latin%20noun/">&lt;ominous latin noun&gt;</a> 
    on the Armory</li> 
  <li><a href="http://worldoflogs.com/guilds/5285/">Combat logs</a> 
    on World of Logs</li> 
  <li><a href="http://www.guildox.com/go/g.asp?n=ominous+latin+noun&r=Uldaman-US">Guild progress and achievements</a> 
    on GuildOx</li> 
</ul> 

<br />

<h3>IN-GAME</h3>
  <p style="padding-left: 0; font-size: 100%;">Send a tell or an in-game mail 
  to any of the following characters on Uldaman-US (A):</p>
<ul>
  <li>Fyrbard</li>
  <li>Puya</li>
  <li>Ultimohombre</li>
</ul>

