<h2>progress</h2>

<p>11/12 in ICC normal<br />
Upper Spire cleared<br />
Lich King on notice</p>

<p>Achievements: <br /> 
<a href="http://www.wowhead.com/?achievement=576" 
  class="achievement">[The Fall of Naxxramas]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=622" 
  class="achievement">[The Spellweaver's Downfall]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=2049" 
  class="achievement">[Twilight Assist]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=2894" 
  class="achievement">[The Secrets of Ulduar]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=2903" 
  class="achievement">[Champion of Ulduar]</a> - 8/13<br /> 
<a href="http://www.wowhead.com/?achievement=4396" 
  class="achievement">[Onyxia's Lair]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=3917" 
  class="achievement">[Call of the Crusade]</a> - Complete<br /> 
<a href="http://www.wowhead.com/?achievement=4532" 
  class="achievement">[Fall of the Lich King]</a> - Complete
</p> 

